@font-face {
    font-family: 'iconfont';  /* Project id 3870499 */
    src: url('//at.alicdn.com/t/c/font_3870499_zsh0tdb1xj.woff2?t=1674972576797') format('woff2'),
         url('//at.alicdn.com/t/c/font_3870499_zsh0tdb1xj.woff?t=1674972576797') format('woff'),
         url('//at.alicdn.com/t/c/font_3870499_zsh0tdb1xj.ttf?t=1674972576797') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }